@import '~bootstrap/dist/css/bootstrap.min.css';
.answer-text {
  font-size: 1rem;
}

 input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:35px;
  height: auto; 
  display: inline-block;
  background-repeat:no-repeat;
  background-position: 0 0px;
  font-size: 30px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 0;
  background-image:url('./assets/checked.png');
}
label.css-label {
background-image:url('./assets/unchecked.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
//http://csscheckbox.com/checkboxes/u/csscheckbox_f60067e68146be412873f96f1d2458cd.png

$headerHegiht: 100px;
$footerHegiht: 100px;
#content {
  padding-top: $headerHegiht;
  padding-bottom: $footerHegiht;
  background:#444; color:#fafafa;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHegiht;
  border-bottom: 1px solid darkgray;
  background:#222; 
  color:#fafafa;
}
#footer {
  position: fixed;
  bottom:0;
  width: 100%;
  height: $footerHegiht; 
  border-top: 1px solid darkgray;
  background:#222; 
  color:#fafafa;
}

html body ul li span p h1 h2 h3 h4 h5 h6 div {
  background:#444 !important; 
  color:#fafafa !important;
}

.list-group-item.std-colors {
  background:#444 !important; 
  color:#fafafa !important;
}
